* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
}

main {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h3 {
    text-align: center;
    color: #333;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.update, .logout {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    padding: 8px 15px;
    border-radius: 5px;
}

.logout {
    background-color: #dc3545;
}

.profile a:hover {
    opacity: 0.8;
}

p{
    padding: 1rem;
    color: #333;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.update-profile{
    text-align: center;
}
.update-profile .profile-img {
    max-width: 200px;
}

.update-profile a {
    display: block;
    background-color: #da2c34;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
}

.update-profile a:hover {
    background-color: #8f040b;
}

input[type="file"] {
    border: 1px dashed #ddd;
    padding: 10px;
    cursor: pointer;
}